.header {
  background: linear-gradient(90deg, #415bd2 0%, #8da1f7 100%);

  &__top {
    padding: 12px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);

    @include vp-1023 {
      display: none;
      margin: 0;
    }
  }

  &__list {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    margin: 0;
    padding: 0;
    list-style-type: none;
    align-items: center;
    justify-content: flex-start;
  }

  &__link {
    display: block;
    color: #ffffff;
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
    text-decoration: none;
    transition: opacity 0.2s ease;

    &:hover {
      opacity: 0.8;
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 20px 0;

    @include vp-1023 {
      padding: 13px 0;
    }
  }

  &__bottom-right {
    display: flex;
    flex-direction: row;
    gap: 28px;
  }

  &__logo {
    flex-shrink: 0;
    display: flex;
    align-items: center;

    img {
      filter: brightness(0) invert(1);
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    gap: 12px;

    @include vp-767 {
      display: none;
    }
  }

  &__button {
    outline: none;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    background-color: #2b3143;
    color: #ffffff;
    text-align: center;
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.2s ease;

    &:hover,
    &:focus {
      background-color: #1e222f;
    }

    &[disabled] {
      cursor: default;
      color: rgba(255, 255, 255, 0.4);
      background-color: rgba(43, 49, 67, 0.5);
    }

    &--qr {
      height: 40px;
      width: 40px;
      padding: 0;
    }

    &--burger {
      display: none;
      background-color: transparent;
      padding: 0;

      @include vp-1023 {
        display: block;
      }
    }
  }

  &__icon,
  &__burger-icon {
    fill: #ffffff;
    stroke: #ffffff;
  }
}
